.friends {
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.friends-list {
  margin: 200px 500px;
  
}

.friend {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid #bf9b7a;
}

.friends {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

li.friend {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

li.friend:hover {
  background-color: #bf9b7a;
}

.profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  border: 2px solid #bf9b7a;
}
